
/* *Borde inferiror enfoque */
.cid-tf7qGNG2M2 { 
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
  }

 /* *Borde superior mapa */
  .cid-tf7qLZfqJo{
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
 }