
/* *Borde inferiror enfoque */
.cid-tf7qGNG2M2 { 
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
  }

 /* *Borde superior mapa */
  .cid-tf7qLZfqJo{
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
 }

 /* *Títulos */
 .titulo {
    color: #063C79 
 }

 /* *Subtítulos */
 .subtitulo {
  color: #386394 
}

 /* *Párrafos */
 .parrafo {
    color: #4A4A4A 
 }

 /* *Footer */
 .lfooter {
  color: #f4f4f4 
}

 /* *Párrafos producto*/
 .producto {
  color: #3A3A3A 
}

 /* *Fondo de video */
 .cid-tf7rqPPtho {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00A099;
}

 /* *Fondo de texto en producto */
.cid-tf7rx2cslI .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff ;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}

 /* *Fondo de texto en footer */
.cid-tf7qv0mBe5 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #3A3A3A;
}

/* *Fondo de imagenes en servicios*/
.cid-tf7qYwOpWt .img1 {
  background: #ffffff;

}
.cid-tf7qYwOpWt .img2 {
  background: #ffffff;
}